<div class="container">
	<div class="row">

	<h4>マイページ</h4>


			<span><strong>登録情報</strong></span>
		    <%= link_to "編集する", edit_customer_path(@customer), class: "btn btn-primary" %>
		    <!-- パスワード編集画面への遷移ができない -->
		    <%= link_to "パスワードを変更する", edit_customer_registration_path(@customer), class: "btn btn-primary" %>

		    <table border="2">
		    		<tr>
		    			<th>氏名</th>
		    			<td><%= @customer.first_name %>　<%= @customer.last_name %></td>
		    		</tr>
		    		<tr>
		    			<th>カナ</th>
		    			<td><%= @customer.first_name_kana %>　<%= @customer.last_name_kana %></td>
		    		</tr>
		    		<tr>
		    			<th>郵便番号</th>
		    			<td><%= @customer.postal_code %></td>
		    		</tr>
		    		<tr>
		    			<th>住所</th>
		    			<td><%= @customer.address %></td>
		    		</tr>
		    		<tr>
		    			<th>電話番号</th>
		    			<td><%= @customer.telephone_number %></td>
		    		</tr>
		    		<tr>
		    			<th>メールアドレス</th>
		    			<td><%= @customer.email %></td>
		    		</tr>
		    </table>

		    <br>
		    <span><strong>配送先</strong></span>
		    <%= link_to "一覧を見る", addresses_path(@customer), class: "btn btn-primary" %>

		    <br>
		    <br>
		    <span><strong>注文履歴</strong></span>
		    <%= link_to "一覧を見る", orders_path(@customer), class: "btn btn-primary" %>
		</div>
	</div>
</div>