    <div class="row">
	<h2>商品新規登録</h2>

  <%= flash.now[:success] %>
  <%= render "admins/shared/error_messages", resource: @items %>
	<div class="col-lg-4" style="margin-top: 200px;">

		<%= form_for @items, url: admins_items_path do |f| %>
		<%= attachment_image_tag @item, :image, fallback: "no_itemimage.jpg", id: "img_prev", style: "height: 200px; width:200px;" %><br>
		<%= f.attachment_field :image %>
	</div>
      	<div class="col-xs-6">
      		<table class="table">
      				<tr>
      					<th style="border-style: none;">商品名</th>
      					<td style="border-style: none;"><%= f.text_field :name %></td>
      				</tr>
      				<tr>
      					<th style="border-style: none;">商品説明</th>
      					<td style="border-style: none;"><%= f.text_area :introduction %></td>
      				</tr>
      				<tr>
      					<th style="border-style: none;">ジャンル</th>
      					<td style="border-style: none;"><%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => true %></td>
      				</tr>
      				<tr>
      					<th style="border-style: none;">税抜価格</th>
      					<td style="border-style: none;"><%= f.text_field :price %></td>
      				</tr>
      				<tr>
      					<th style="border-style: none;">販売ステータス</th>
      					<td style="border-style: none;"><%= f.select :is_active, [["販売中", "true"], ["販売停止中", "false"]], include_blank: "選択して下さい" %>
      					</td>
      				</tr>
      		</table>
		</div>
		<div class="col-xs-2" style="margin-top: 200px;">
			<%= f.submit '新規登録', class:"btn btn-primary" %>
		</div>
	<% end %>
	</div>

<script>
	$(document).on("turbolinks:load", function(){
	  function readURL(input) {
	    if(input.files && input.files[0]){
	      var reader = new FileReader();
	      reader.onload = function (e) {
	        $('#img_prev').attr('src', e.target.result);
	      }
	      reader.readAsDataURL(input.files[0]);
	    }
	  }
	  $("#item_image").change(function(){
	    readURL(this);
	  });
	});
</script>