

        <h2>商品詳細</h2>
      　<%= flash.now[:success] %>
        <!-- 左側画像表示 -->
　　     <div class="col-lg-4">
　　   	  <div id="img_field">
　　        <%= attachment_image_tag(@item, :image, :fill, 300, 300, fallback: "no_image.jpg") %>
          </div>
   	    </div>
        <!-- 右商品詳細 -->
        <br><br>
        <div class="col-lg-8">
      	    <table class="table">
	            <tr>
	          	    <td>商品名</td>
	              	<td><%= @item.name %></td>
	            </tr>
		        <tr>
		      	    <td>商品説明</td>
		          	<td><%= @item.introduction %></td>
		        </tr>
		        <tr>
		          	<td>ジャンル</td>
		         	<td><%= @item.genre.name %></td>
		        </tr>
                <!-- 　税込価格　税抜価格　　　　　 -->

		        <tr>
		          	<td>税込価格(税抜価格)</td>
		         	<td>
		         		<%= (@item.price*1.1).to_i %>
		               （<%= @item.price %>）円
		            </td>
		        </tr>
                <!--  販売ステータス-->
                <tr>
                 	<td>販売ステータス</td>
		            <td>
		            	<% if @item.is_active == true %>販売中
			            <% elsif @item.is_active == false %>売り切れ
			            <% end %>
			        </td>
		        </tr>
            </table>

                <div class="text-right">
                  <%= link_to "編集する", edit_admins_item_path(@item), class: "btn btn-primary" %>
                </div>
        </div>
    </div>
</div>

