<div class="row">
	<div class="col-lg-3">
		<%= render "items/genres_sidebar", genres: @genres %>
	</div>
	<div class="col-lg-9">
	<div class="item-show-box">
	<%= attachment_image_tag(@item, :image, size: "60×60", fallback: "no_image.jpg") %>
	<div class="item-show">
	<h2><%= @item.name %></h2>
	<p><%= @item.introduction %></p>
	<p><%= (@item.price*1.1).to_i %>円(税込)</p>
	</div>
	</div>
	<%= form_with(model: [@item, @cart], local: true, url: {controller: 'cart_items', action: 'create'}) do |f| %>
		<%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
		<%= f.hidden_field :item_id, value: @item.id %>
		<%= f.submit "カートに入れる", class: "btn btn-primary" %>
	<% end %>
	</div>
</div>