
<div class="row">
  <h3>注文履歴詳細</h3>

	<div class="col-lg-6">
		<table class="table">
				<tr>
					<th  style="border-style: none;">購入者</th>
					<td  style="border-style: none;"><%= link_to @order.name, admins_customer_path(@order.customer.id) %></td>
				</tr>

				<tr>
					<th  style="border-style: none;">配送先</th>
					<td  style="border-style: none;"><%= @order.address %></td>
				</tr>

				<tr>
					<th  style="border-style: none;">郵便番号</th>
					<td  style="border-style: none;"><%= @order.postal_code %></td>
				</tr>

				<tr>
					<th  style="border-style: none;">支払方法</th>
					<td  style="border-style: none;"><%= @order.payment_method %></td>
				</tr>

				<tr>
					<th  style="border-style: none;">注文ステータス</th>
					<td style="border-style: none;"><%= form_with(model: @order, local: true, url:admins_order_path(@order)) do |f| %>
						<%= f.select :status, Order.statuses.keys.to_a, include_blank: "-----" %>
		    			<%= f.submit "更新", class: 'btn btn-primary' %>
		    			<% end %>
		    		</td>
				</tr>
		</table>

	</div>

</div>

<div class="admin-show">

	<div class="col-lg-8">
		<table class="table">
			<thead>
				<tr>
					<th style="border-style: none;">商品名</th>
					<th style="border-style: none;">単価（税込）</th>
					<th style="border-style: none;">数量</th>
					<th style="border-style: none;">小計</th>
					<th style="border-style: none;">製作ステータス</th>
				</tr>
			</thead>


			<tbody>
				<% sum_all = 0 %><br>

				<% @order.order_details.each do |detail| %>
					<tr>
						<td style="border-style: none;"><%= detail.item.name %></td>
						<td style="border-style: none;"><%= (detail.price*1.1).to_i %></td>
						<td style="border-style: none;"><%= detail.amount %></td>
						<td style="border-style: none;"><%= (detail.price*1.1).to_i * detail.amount %>円</td>
						<td style="border-style: none;">
							<%= form_with model: detail, url: admins_order_detail_path(detail.id), method: :patch do |f| %>
								<%= f.select :making_status, OrderDetail.making_statuses.keys.to_a %>
								<%= f.submit "更新", class: 'btn btn-primary' %>
						<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
		<div class="col-lg-3" style="position: relative;">
			<div class="absolute" style="position: absolute; bottom: 0;">
			<table class="table">
				<br>
					<tr>
						<th style="border-style: none;">商品合計</th>
						<td style="border-style: none;"><%= @sum %></td>
					</tr>
					<tr>
						<th style="border-style: none;">送料</th>
						<td style="border-style: none;"><%= @order.shipping_cost %></td>
					</tr>
					<tr>
						<th style="border-style: none;">ご請求額</th>
						<td style="border-style: none;"><%= @sum + @order.shipping_cost %>円</td>
					</tr>
			</table>
		</div>
		</div>
	</div>
</div>
